@import url('https://fonts.googleapis.com/css?family=Monoton');
body {
    background: #ffb732;
    background: radial-gradient(circle, #ffdb99, #ffb732, #ffa500);
    background: -webkit-radial-gradient(circle, #ffdb99, #ffb732, #ffa500);
    /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(circle, #ffdb99, #ffb732, #ffa500);
    /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(circle, #ffdb99, #ffb732, #ffa500);
    /* For Firefox 3.6 to 15 */
    font-family: "Bookman";
    text-align: center;
    font-weight: 100;
}

h2 {
    color: #fead16;
    font-size: 3em;
    font-family: 'Monoton', cursive;
}

.main-body {
    width: 70%;
    background-color: rgba(255, 255, 255, 0.7);
    border-color: #000000;
    padding-top: .5em;
    float: center;
    display: block;
    position: static;
    padding-bottom: .5em;
}

.main-body-header {
    float: left;
    margin-left: 0;
}

.navigation ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0px 5px;
    font-size: 1.25em;
}

.navigation ul li a {
    font-weight: bold;
}

.scd-counter-col {
    display: inline-block;
    clear: both;
}

.scd-all-wrapper {
    color: white;
    text-align: center;
    display: block;
}

.scd-all-wrapper {
    width: 100%;
    font-size: inherit;
}

.main-body-header-inline {
    display: inline;
}

h1 {
    color: #396;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
}

a {
    color: #fead16;
    text-decoration: none;
    padding: 0px 20px;
}

a:hover {
    color: #ffbb3b;
}

#clockdiv {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv>div {
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
}

#clockdiv div>span {
    padding: 15px;
    border-radius: 3px;
    background: #000080;
    display: inline-block;
}

.smalltext {
    padding-top: 5px;
    font-size: 16px;
    color:#fead16;
}
