body {
    background: #ffb732;
    background: radial-gradient(circle, #ffdb99, #ffb732, #ffa500);
    background: -webkit-radial-gradient(circle, #ffdb99, #ffb732, #ffa500);
    /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(circle, #ffdb99, #ffb732, #ffa500);
    /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(circle, #ffdb99, #ffb732, #ffa500);
    /* For Firefox 3.6 to 15 */
    font-family: "Bookman";
		text-align: center;
		font-weight: 100;
}

.main-body {
    width: 70%;
    background-color: #4169e1;
    border-color: #000000;
    padding-top: .5em;
    float: center;
    display: block;
    position: static;
    padding-bottom: .5em;
}

.main-body-header {
    float: left;
    margin-left: 0;
}

.navigation ul li {
    list-style-type: none;
    display: inline-block;
    font-size: 1.25em;
}

.scd-counter-col {
    display: inline-block;
    clear: both;
}

.scd-all-wrapper {
    color: white;
    text-align: center;
    display: block;
}

.scd-all-wrapper {
    width: 100%;
    font-size: inherit;
}

.main-body-header-inline {
    display: inline;
}

h1 {
    color: #396;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
}

a {
	color: #00ECB9;
	text-decoration: none;
}
a:hover {
	color: #00BF96;
}

#clockdiv {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv>div {
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

#clockdiv div>span {
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

.smalltext {
    padding-top: 5px;
    font-size: 16px;
}
